<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="io.github.explorersodysseygame.game.server.Server" />
    <module name="ExplorersOdyssey" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>